body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 70px;
    padding-bottom: 0px;
    margin: 0px;
}

h2 {
    text-align: center;    
    font-family: 'Gill Sans';
    font-size: 30px;
}

.class1 {
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 30px;
    color: crimson;
}

.spawn {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #00fff7;
    border-radius: 4px; 
    box-shadow:
      0 0 3px #00fff7,
      0 0 6px #00fff7,
      0 0 9px #00fff7;
    pointer-events: none;
    transform-origin: center;
    will-change: transform;
    backface-visibility: hidden;
  }